<div class="home">
  <div class="search-box">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="poemQuery.text"
        [placeholder]="search_box_placeholder()"
      />
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="getRandomText()">
      Get Random Quote
    </button>

    <button mat-flat-button color="warn" (click)="getRandomText()">
      Randomize
    </button>
  </div>

  <div *ngIf="randomText">
    {{ randomText.title }}
  </div>
  <div *ngIf="previousText">
    {{ previousText.title }}
  </div>
</div>
