.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  .search-box {
    margin: 1rem 0;

    & > *:not(:last-child) {
      margin-right: 1.25rem;
    }
  }

  .poetry-table {
    width: 75%;
    margin: 0auto;

    .filter-box {
      margin: 1rem;
      mat-form-field:nth-child(1) {
        width: calc(65% - 0.5rem);
        margin-right: 1rem;
      }

      mat-form-field:nth-child(2) {
        width: calc(35% - 0.5rem);
      }
    }

    table {
      width: 100%;
    }
  }
}
