.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2.5%;

  .search-box {
    margin-bottom: 1rem;

    & > *:not(:last-child) {
      margin-right: 1.25rem;
    }
  }

  .poetry-table {
    margin: 0 auto;

    .filter-box {
      margin: 1rem 1rem 0 1rem;

      mat-form-field {
        width: 100%;
      }
    }

    table {
      width: 100%;

      th,
      td {
        &:nth-child(1) {
          width: 2.25rem;
        }

        &:nth-child(2) {
          text-align: center;

          width: 8rem;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }

        &:nth-child(3) {
          width: 350px;
          padding-left: 0.5rem;
          padding-right: 1.5rem;
        }

        &:nth-child(4) {
          width: 2.25rem;
          padding-right: 1.5rem;
        }

        &:nth-child(5) {
          button {
            font-size: 0.75rem;
            padding: 0;
          }
        }
      }
    }
  }
}
